services:
  db:
    container_name: postgres_db

    image: postgres:16
    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: myDB

    volumes: 
      - postgres_data:/var/lib/postgresql/data
   
    

    # given: healthcheck
    # basically just checks that postgres is up and ready
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    # In case you were wondering, 
    # since we aren't specifying an image for app, we're telling it 
    # to look in the current directory for the build (from Dockerfile)
    build: .
    container_name: go_app
    # if our DB is not healthy
    # do not run
    depends_on:
      db:
        condition: service_healthy

    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: myDB
      PORT: 8080

    ports:
      - "8080:8080"
      
volumes:
  postgres_data:
